html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 85vh;
}

header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .rs-school {
    height: 90px;
}
header .logo .github {
    height: 100px;
}
header .logo .rs-school:hover {
    transition: all 0.5s;
    transform: scale(95%);
}
header .logo .github:hover {
    transition: all 0.5s;
    transform: scale(95%);
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0px 10px;
    white-space: nowrap;
    cursor: default;
    user-select: none;
}

header .copyright {
    font-size: 14px;
    color: rgb(100, 98, 98);
    text-align: center;
    white-space: nowrap;
    margin: 5px;
}
header .copyright a {
    color: rgb(196, 196, 196);
}
header .copyright a:hover {
    color: rgb(253, 253, 253);
}
header .copyright:before {
    content: '©';
}

header input {
    border-radius: 25px;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    outline: none;
}

header input::-webkit-search-cancel-button {
    display: none;
}

footer {
    height: 100px;
    margin-top: 10px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo {
    display: flex;
    align-items: center;
}

footer .logo .rs-school {
    height: 90px;
}
footer .logo .github {
    height: 100px;
}
footer .logo .rs-school:hover {
    transition: all 0.5s;
    transform: scale(95%);
}
footer .logo .github:hover {
    transition: all 0.5s;
    transform: scale(95%);
}

.up {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 20px;
    opacity: 70%;
    z-index: 10;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    #main {
        flex-direction: column;
        max-height: 100%;
    }

    header {
        justify-content: center;
        flex-direction: column;
    }
} ;
